h2 {
    color: blue;
    text-align: center;
    font-size: 50px;
}



input[type=text] {
    width: 100%;
    padding: 8px 8px;
    margin: 10px 0;
}

input[type=submit] {
    align: center;
    width: 50%;
    background-color: aquamarine;
    padding: 8px 8px;
    border: none;
    border-radius: 6px;
}
body {
    background-color: GhostWhite;
    padding: 20px;
}

